main {
  float: left;
  display: inline;
  justify-content: center;
}
ul {
  float: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 290px;
  height: 100vh;
}
ul > li {
  display: flex;
  flex-direction: column;
  width: 250px;
}

ul > li > div {
  display: inline;
}
button {
  margin-top: 20px;
  background-color: gray;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
